<script src="/js/mapgraph.js"></script>
<script>
	MapGraph({
		selector:'#graphmap',
		events:{
			click:function(){
				var year = (new Date).getFullYear();
				var month = this.dataset.month;
				var day = this.dataset.day;
				var $el = $('#foo-table_filter > label > input');
				datatable
					.search(`^${year}/${month}/${day}\\s`,true,false,true)
					.draw();
			}
		},
		datas:<%- JSON.stringify(playdatas) %>.map(d=>{
			return {
				date:d.updatedAt,
				value:d.allplaycount,
				html:`<div>${d.name}</div>`
			}
		})
	})
</script>
<%- include('./head') %>
<div class="container">
	<div class="row">
        <div class="col-md-2 sidebar">
            <%- include('./navsidebar') %>
        </div>
		<div class="col-md-10 col-sm-10 data">
			<div id="graphmap"></div>
			<%- include('./table') %>
	</div>
</div>
<%- include('./foot') %>