<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HomeSlotDataBank Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" id="themesid">
    <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
    <link rel="stylesheet" href="/css/dashbord.css" />
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script>
    jQuery(function($) {
        // デフォルトの設定を変更
        $.extend($.fn.dataTable.defaults, {
            language: {
                url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
            }
        });

        $("#foo-table").DataTable();
    });
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><%= nickname%>のDashboard</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="upload-button"><div class="bluebutton-wrapper">アップロード</div></a></li>
                    <li><a href="#" class="dashboard-button">ダッシュボード</a></li>
                    <li><a href="#" class="setting-button">設定</a></li>
                    <li><a href="#" class="help-button">ヘルプ</a></li>
                    <li><a href="#" class="username-button"><%= nickname%></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">概要</a></li>
                    <li><a href="#">データ</a></li>
                    <li><a href="#">スクリーンショット</a></li>
                </ul>
            </div>
            <div class="col-md-10 main">
                <h1 class="page-header">Dashboard</h1>
                <div class="row dashdatas row-eq-height">
                    <div class="col-sm-6 col-xs-12">
                        <div class="allplaycount">
                            <h3>いままでの総ゲーム数</h3>
                            <h2><%= sumplaygames %>G</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="recently">
                            <h3>最近のデータ</h3>
                            <h2><%= lastdata.dataValues.name %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row playdatasrow">
            <div class="col-sm-offset-2 col-sm-10 col-xs-12">
                <table id="foo-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>日付</th>
                            <th>データ名</th>
                            <th>総ゲーム数</th>
                            <th>ゲーム数</th>
                            <th>C1</th>
                            <th>C2</th>
                            <th>C3</th>
                            <th>C4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% playdatas.forEach((q)=>{ %>
                            <% var data = q.dataValues %>
                            <% var timestamp = data.updatedAt %>
                            <tr>
                                <td><%= [timestamp.getFullYear(),timestamp.getMonth() + 1,timestamp.getDate()].join( '/' ) + ' '+ timestamp.toLocaleTimeString(); %></td>
                                <td><%= data.name %></td>
                                <td><%= data.allplaycount %></td>
                                <td><%= data.playcount %></td>
                                <% var arr = data.count.split(',')%>
                                <% for(var i=0;i<4;i++){%>
                                    <td><%= arr[i]||0%></td>
                                <% }%>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
</body>

</html>