<%- include('./head') %>
    <div class="container">
        <div class="row">
            <div class="col-md-2 sidebar">
                <%- include('./navsidebar') %>
            </div>
            <div class="col-md-10 main">
                <h1 class="page-header">Dashboard</h1>
                <div class="row dashdatas row-eq-height">
                    <div class="col-sm-6 col-xs-12">
                        <div class="allplaycount">
                            <h3>いままでの総ゲーム数</h3>
                            <h2><%= sumplaygames %>G</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="recently">
                            <h3>最近のデータ</h3>
                            <h2><%= lastdata?lastdata.dataValues.name:"なし" %></h2>
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-12 datatablewrap" style="overflow-x: scroll;">
                        <%- include('./table') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('./foot') %>